.Dashboard-loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Dashboard-layout-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}